.gradle/
build/
**/build/
versions/*/build/
versions/*/run/
*.class
*.jar
!libs/baritone-unoptimized-fabric-1.16.1.jar
!gradle/wrapper/gradle-wrapper.jar
run/
saves/
.idea/
.vs/
*.bak
*.bak*
.DS_Store
*.hprof
*.iml
out/
